### Analisis exploratorio

Instalar y cargar librarias

In [1]:
import numpy as np
import pandas as pd 
import sqlite3 as sql

In [20]:
#Realizar conexión de base de datos db_movies
conn=sql.connect('BD_insurance2019dataset.db')
cur=conn.cursor()

In [21]:
#Verificar las tablas existentes en db_movies
cur.execute("SELECT name FROM sqlite_master where type='table' ")
cur.fetchall()

[('reclamaciones',),
 ('diagnosticos',),
 ('regional',),
 ('genero',),
 ('sociodemograficas',),
 ('utilizaciones',)]

In [5]:
pd.read_sql_query("SELECT name FROM sqlite_master;",conn)

                name
0      reclamaciones
1       diagnosticos
2           regional
3             genero
4  sociodemograficas
5      utilizaciones

In [9]:
pd.read_sql_query("SELECT * FROM regional;",conn)

   Regional_id          Regional_Desc
0            1     REGIONAL ANTIOQUIA
1            2        REGIONAL CENTRO
2            3         REGIONAL NORTE
3            4     REGIONAL OCCIDENTE
4            5  REGIONAL EJE CAFETERO
5            6        Sin Información

In [10]:
pd.read_sql_query("SELECT * FROM sociodemograficas;",conn)

,Afiliado_Id,Sexo_codigo,FechaNacimiento,Regional_codigo,CANCER,EPOC,DIABETES,HIPERTENSION,ENF_CARDIOVASCULAR
0,738288,M,28072,1,0,0,0,0,0
1,738294,M,23392,2,0,0,0,0,0
2,738303,F,27177,3,0,0,0,0,0
3,738318,M,15053,2,1,0,1,1,0
4,738323,F,10447,2,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
218200,59559606,F,38164,2,0,0,0,0,0
218201,59564764,F,38429,2,0,0,0,0,0
218202,59565065,F,38425,2,0,0,0,0,0
218203,59570753,M,27839,4,0,0,0,0,0
218204,59571570,M,37190,4,0,0,0,0,0

In [8]:
pd.read_sql_query("SELECT * FROM reclamaciones;",conn)

    Reclamacion_Id                                   Reclamacion_Desc
0                1                                 ATENCION DEL PARTO
1                2                  ATENCION INTEGRAL DE SALUD MENTAL
2                3                  CIRUGIA AMBULATORIA POR ACCIDENTE
3                4                 CIRUGIA AMBULATORIA POR ENFERMEDAD
4                5       CIRUGIA AMBULATORIA POR ENFERMEDAD CONGENITA
5                6                      COBERTURA PROGRAMA PALIATIVOS
6                7                                       CONCILIACION
7                8                              CONSULTA DE URGENCIAS
8                9                                   CONSULTA EXTERNA
9               10                               CONSULTAS PRENATALES
10              11                                           DIALISIS
11              12                            EXAMENES DE DIAGNOSTICO
12              13                             FISIOTERAPIA ILIMITADA
13              14                                         FUNERARIOS
14              15                                     INFILTRACIONES
15              16                                LABORATORIO CLINICO
16              17                                        ODONTOLOGÍA
17              18                                               PAMD
18              19                                    Sin Informacion
19              20                             TRASLADO EN AMBULANCIA
20              21                 TRATAMIENTO AMBULATORIO POR CANCER
21              22      TRATAMIENTO MEDICO AMBULATORIO POR ACCIDENTES
22              23  TRATAMIENTO MEDICO AMBULATORIO POR ENFERMEDAD ...
23              24      TRATAMIENTO MEDICO HOSPITALARIO POR ACCIDENTE
24              25  TRATAMIENTO MEDICO HOSPITALARIO POR CANCER Y C...
25              26  TRATAMIENTO MEDICO HOSPITALARIO POR COMPLICACI...
26              27     TRATAMIENTO MEDICO HOSPITALARIO POR ENFERMEDAD
27              28        TRATAMIENTO MEDICO HOSPITALARIO SIQUIATRICO
28              29  TRATAMIENTO QUIRURGICO HOSPITALARIO POR ACCIDENTE
29              30  TRATAMIENTO QUIRURGICO HOSPITALARIO POR CANCER...
30              31  TRATAMIENTO QUIRURGICO HOSPITALARIO POR ENFERM...
31              32  TRATAMIENTO QUIRURGICO HOSPITALARIO POR ENFERM...
32              33               TRATAMIENTOS AMBULATORIOS ESPECIALES
33              34                           TRATAMIENTOS ESPECIFICOS
34              35                                         VACUNACION

In [6]:
pd.read_sql_query("SELECT * FROM genero;",conn)

  Sexo_Cd        Sexo_desc
0       M        Masculino
1       F         Femenino
2      -1  Sin Informacion

In [7]:
pd.read_sql_query("SELECT * FROM utilizaciones;",conn)

,Fecha_Reclamacion,Afiliado_Id,Reclamacion_codigo,Diagnostico_Codigo,Cantidad,Precio
0,23/10/2019,22914637,12,M45X,1.0,1056639.96
1,26/11/2019,58412744,9,9,1.0,139772.80
2,23/10/2019,5070923,16,9,1.0,320166.76
3,27/11/2019,5769950,13,9,1.0,21204.00
4,8/11/2019,24022833,12,K589,1.0,60636.00
...,...,...,...,...,...,...
395863,14/11/2019,4351189,16,9,15.0,251820.44
395864,7/9/2019,44677250,9,9,1.0,67208.00
395865,25/10/2019,19220270,13,9,10.0,475726.00
395866,11/12/2019,25627716,12,9,2.0,568788.00
395867,27/10/2019,30959682,8,9,1.0,86677.24

In [11]:
pd.read_sql_query("SELECT * FROM diagnosticos;",conn)

     Diagnostico_Codigo                                   Diagnostico_Desc
0                    -1                                    Sin Información
1                     0                              DIAGNÓSTICO PENDIENTE
2                     9                              DIAGNÓSTICO PENDIENTE
3                  A010                                    FIEBRE TIFOIDEA
4                  A021                     SEPTICEMIA DEBIDA A SALMONELLA
...                 ...                                                ...
2719               Z961                  PRESENCIA DE LENTES INTRAOCULARES
2720               Z966         PRESENCIA DE IMPLANTE ORTOPÉDICO ARTICULAR
2721               Z975  PRESENCIA DE DISPOSITIVO ANTICONCEPTIVO (INTRA...
2722               Z980      ESTADO DE DERIVACIÓN INTESTINAL O ANASTOMOSIS
2723               Z988        OTROS ESTADOS POSTQUIRÚRGICOS ESPECIFICADOS

[2724 rows x 2 columns]